*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    background-color: black;
}


ul {
    list-style-type: none;
}

/*Nav Bar*/

.navBar {
    background-color: black;
    width: 90vw;
    height: 70px;
    margin: 0 auto;
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    width: 15%;
    display: contents;
}

.bookflix{
    max-height: 90%;
}


.search {
    width: 100px;
    height: 40px;
    background-color: red;
    color: whitesmoke;
    font-weight: bolder;
    font-size: larger;
    border: 0px red;
    border-radius: 5px;
    cursor: pointer;
}
.search:hover {
    transform: scale(1.05);
}

.input-search {
    width: 200px;
    height: 40px;
    border: 0px white;
    border-radius: 5px;; 
}

.searchBar {
    padding-right: 20px;
}

/*Body*/
.main{
    width: 90vw;
    /* min-height: calc( 100vh - 70px ); */
    background-color:black;
    margin: 0 auto;
}

.movies {

    display: flex;
    flex-wrap: wrap;

}

.movie {
    width: 240px;
    height: 350px;
    margin-top: 30px;
    margin-left: 30px;
    position: relative;
    cursor: pointer;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
    color: ivory;
  }

  ul {
    color: white;
    font-size: 15px;
    position: absolute;
    top: 10%;
    /* text-align: center; */
  }

  .movie:hover .overlay {
    opacity: .8;
  }

  .movie:hover {
    transform: scale(1.1);
    transition: ease;
  
  }

  .movie img {
    max-width: 100%;
    height: 100%;
    border-radius: 4px;
}




.noResult {
    color:white;
}

.noResults {
    margin-top: 30px;
}


.flag {
    width :14px;
    height: 14px;
}

.bold {
    color : red;
    font-weight: bolder;
}

span {
    color : white;
}

.star {
    color: yellow;
}
